<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762155571054-18j0a82j26ajsm0rp508rob27bsk1reh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762155571054-18j0a82j26ajsm0rp508rob27bsk1reh</string>
	<key>API_KEY</key>
	<string>AIzaSyC_Q5W1q_BwbbkEmtXXHdcYercK1IWZEK4</string>
	<key>GCM_SENDER_ID</key>
	<string>762155571054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.InteractiveDictionary</string>
	<key>PROJECT_ID</key>
	<string>interactive-dictionary-a9c5e</string>
	<key>STORAGE_BUCKET</key>
	<string>interactive-dictionary-a9c5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762155571054:ios:7e645153e772e38ec7937f</string>
</dict>
</plist>